.border-solid {
    border-style: solid;
    border-width: 2px;
    border-color: green;
    padding: 2px;
}

.border-dotted {
    border-style: dotted;
    border-width: 2px;
    border-color: red;
    padding: 2px;
}

.border-dashed {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
    padding: 2px;
}

.border-groove {
    border-style: groove;
    border-width: 2px;
    border-color: rgba(2550, 51, 251, 1);
    padding: 2px;
}